
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1474440348'); /* IE9*/
  src: url('iconfont.eot?t=1474440348#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1474440348') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1474440348') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1474440348#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shouye:before { content: "\e600"; }
.icon-caidan:before { content: "\e601"; }
.icon-h5iconup:before { content: "\e602"; }
.icon-h5icondown:before { content: "\e603"; }
.icon-h5iconleft:before { content: "\e604"; }
.icon-h5iconright:before { content: "\e605"; }
